<style>
  .accounts {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 18px;
  }
  .accounts td {
    border: solid 1px #777;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
</style>

<script src="/vue.js"></script>
<script src="/utils.js"></script>

<div id="app">
  {{ welcome }}
  <hr />
  <button @click="setadminpass">Set Admin Pass</button>
  <hr />
  <table class="accounts">
    <tr v-for="account in appMan.accounts">
      <td style="font-weight: bold; color: #700; text-align: center">
        {{account.name}}
      </td>
      <td style="font-weight: bold; color: #070; text-align: center">
        {{Math.round((account.quotaTotal - account.quotaUsed)/3600)}}
      </td>
      <td>
        <table>
          <tr v-for="app in account.apps">
            <td style="font-weight: bold; color: #007">{{ app.name }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<script>
  Vue.createApp({
    computed: {},
    methods: {
      setadminpass() {
        const pass = window.prompt("Admin Pass");
        localStorage.setItem("ADMIN_PASS", pass);
        document.location.reload();
      },
    },
    data() {
      return {
        welcome: "Welcome to Heroku App Manager !",
        appMan: { accounts: [] },
      };
    },
    mounted() {
      post("appman", {}).then((result) => {
        if (result.error) {
          window.alert(result.error);
        } else {
          this.appMan = result;
        }
      });
    },
  }).mount("#app");

  hotReload();
</script>
